@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* variables */

:root {
  font-size: 15px;
  --prim-dark-blue: hsl(233, 47%, 7%);
  --prim-sat-blue: hsl(244, 38%, 16%);
  --prim-violet: hsl(277, 64%, 61%);

  --neu-white: hsl(0, 0%, 100%);
  --neu-trans-white: hsla(0, 0%, 100%, 0.75);
  --neu-more-trans-white: hsla(0, 0%, 100%, 0.6);

  --bg-violet: hsl(277deg, 100%, 50%, 0.42);
  --bg-light-violet: hsl(293deg, 42%, 35%, 0.24);
}

/* defaults */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--prim-dark-blue);
  color: var(--neu-white);
  font-weight: 400;
  width: 100vw;
  min-height: 100vh;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* stats card */
.container{
  max-width: 1020px;
  margin: 0 auto ;
}
.wrapper{
  background-color: var(--prim-sat-blue);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  margin: 2rem;
}

.wrapper .image_section img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.image_section{
  position: relative;
}
.image_section::after{
  content: '';
  background:  var(--bg-violet);
  position: absolute;
  inset: 0;
}

.text_content{
  padding: 60px;
}
.text_content h1{
  text-transform: capitalize;
  font-weight: 700;
  padding-bottom: 22px;
}
.text_content h1 span{
  color: var(--prim-violet);
}
.text_content .letter{
  color:var(--neu-more-trans-white);
  line-height: 1.8;
}
.stat_box{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.stat_box h2{
  margin-bottom: 7px;
}
.stat_box p{
  color: var(--neu-more-trans-white);
}
@media screen and (max-width: 768px){
  body{
    font-size: 12px;
  }
  .text_content{
    padding: 20px;
  }
  .stat_box p{
    font-size: 10px;
  }
}
@media screen and (max-width:480px) {
    body{
      text-align: center;
      font-size: 15px;
    }

    .wrapper{
      grid-template-columns: 1fr;
    }

    .image_section{
      order: -1;
    }
    .stat_box{
      flex-direction: column;
      margin-top: 0;
    }
    .stat_box div{
      margin-top: 30px;
    }
    .stat_box p{
      font-size: 15px;
    }
}